@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@mixin transition{
  transition: .2s ease-in-out;
}
@mixin nopadmarg{
  padding: 0px;
  margin: 0px;
}
@mixin paddingTopBottom{
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin carouselMarginTB{
  margin-top: 15px;
  margin-bottom: 15px;
}