@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@mixin transition{
  transition: .3s ease-in-out;
}
@mixin nopadmarg{
  padding: 0px;
  margin: 0px;
}