@import 'mixin';
@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

$fonts: 'Roboto','Segoe UI';
$body-color: #352B2E;
$logoColor: #FF0266;
$boldTextColor: #EF7090;
$gridColor: #24191C;
$spacing: 2rem;
$bold: bold;
$extraBold: 700;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvettica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Bootstrap grid
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// * LINES COLOR
.progressBar{
  background-color: transparent;
}

body{
  background: $body-color;
  color: white;
  font-family: $font-family-sans-serif; 
}
body > :not(strong, .footer,.progressBar,.navbar-main){
  padding: 20px;
  // background-color: black;
}
a{
  color: $logoColor;
  @include transition;
  font-weight: normal;
  text-decoration: none;
}
// Conflict with carousel fonts
.active {
  font-weight: bold;
  text-decoration: none;
}
.hor-line{
  // height: 10px;
  // border-color: white;

}

//! XS SIZE
@media (min-width:map-get($breakpoints,xs)){
  .img-me {
    width: 40%;
    height: auto;
    background-color: #53feb7;
  }
  .experience-rows{
    // background-color: rgb(255, 19, 19);
    font-size: 15px;
  }
  .icon-skills{
    // background-color: rgb(255, 182, 182);
    width: 20%;
    height: auto;
  }

  // .imgexp{
  //   position:absolute;
  //   top: 0%;
  //   left: -15%;
  //   width: 35%;
  //   z-index:1;
  //   filter: drop-shadow(2mm 3mm 3mm rgb(0, 0, 0, .5));
  // };
  .img-carousel{
    width: 30%;
  }
  

}

//! MD SIZE
@media (min-width: map-get($breakpoints, md)){
  .img-me {
    width: 60%;
    height: auto;

  }
  .experience-rows{
    font-size: 25px;
  }
  .icon-skills{
    width: 14%;
    height: auto;
  }
  // .imgexp{
  //   position:absolute;
  //   top: 3%;
  //   left: -10%;
  //   width: 20%;
  //   z-index: 1;
  //   filter: drop-shadow(2mm 3mm 3mm rgb(0, 0, 0, .5));
  // };
  .img-carousel{
    width: 30%;
  }

}
//!  ---------------------- HAMBURGER ---------------------
.div-burger{
  &-icon{
    @include flex-center;
    position: relative;
    z-index: 1000;
  }
  .div-burger-inside{
    // @include flex-center;
    position: fixed;
    top: 0%;
    right: 10%;
    // background-color: blue
  }
  
  .hamburgerListDown{
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    top: 0%;
    bottom: 0;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: blur-in 1.5s forwards;
    ul{
      padding: 0;
    }
    li{
      list-style-type: none;
      padding: 20px;
    }
  }
  @keyframes blur-in {
    from {
      -webkit-backdrop-filter: blur(0px);
    }
    to {
      -webkit-backdrop-filter: blur(5px);
    }
  }
}

//!  ---------------------- LINES ---------------------
// * LINES COLOR
hr,.vr{
  color: #131317;
}


//! ----------------------NAVBAR---------------------------------

.navbar-main {
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 100;
  // background-color: rgba(255, 2, 102, 0.5);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  .lg-container{

    &:hover{
      opacity: .5;
      @include transition;
    }
    }
}
  
 



//! --------------------ABOUT ME-------------------
.about-me{

  &-one{
    // @include flex-center;
    // background-color: rgb(168, 115, 10);
    font-weight: $extraBold;
    line-height: 1.5;

    &-desc{

      &-selftaught{
        // background-color: rgb(161, 0, 0);
        display: inline-block;
      }

      p{
        // font-size: 50px;
        &:first-child{
          // background-color: black;
        }
      }

    }
  }
  &-section{
    text-align: center;

    &-body{
      // background-color: white
      
    };

    .Col{
      border-radius: 30px;
      margin: 5px;
      padding: 40px;
      background-color: #2E3039;
      position: relative;
    };
    
 

    section{
     @include nopadmarg;
    }

    h1{
      text-align: center;
      font-weight: $extraBold;
      
    };

    h2{
      font-weight: $bold;
    };

    li{
      text-decoration: none;
      color: #a9adc1;
    };
  }

}

//! -------------------SKILLS--------------------------------

.skills{

 
  // background-color: #2E3039;
  @include nopadmarg;
  border-radius: 20px;
  overflow: hidden;
  &-row{
    @include nopadmarg;
  }

  &-dev-col{
    color: white;
    background-color: rgba(59, 12, 57, 0.5);
  }

  .skills-col{
    padding: 10px;


    &-1{
      @include paddingTopBottom;

      &-desc{
        // background-color: rgb(160, 97, 255);
      }
    }
    &-2{  
      @include paddingTopBottom;
      // background-color: green;
      }
  
    &-3{
      @include paddingTopBottom;
      // background-color: rgb(255, 0, 30);
    }
  }
  .skills-title-do{
    color: $boldTextColor;
  }
}
//! -------------------EXPERIENCES--------------------------------
.experiences{
  //* TAB NAVBAR CONTENT
  &-tab{
    // background-color: $gridColor;
    // border-radius:10px 10px 10px 10px;
    cursor: pointer;

    //* TAB MAIN CONTENT
    .tab-content{
      // background-color: $gridColor;
      // border-radius: 0px 0px 10px 10px;
      padding: 10px;
      div{
        // font-size: 20px;
      }
    }
    .navbar-tab{
      background-color: $gridColor;
      border-radius: 10px;
      .underline{
        position: absolute;
        bottom: -4px;
        left: 25%;
        right: 0%;
        height: 3px;
        width: 50%;
        background: $logoColor;
        border-radius: 10px 10px 0px 0px;
        z-index: 10;
      }
    }
      .selected{
        // background-color: $logoColor;
        position: relative;
        border-radius: 5px;
        font-weight: $bold;
        // padding: 10px;
      }
      .non-selected{
        color: gray;
        font-weight: lighter;

        &:hover{
          background-color:  $logoColor;
          border-radius: 10px;
        }
      }
      .selected, .non-selected{
        @include transition;
        // border-radius:10px 10px 0px 0px;
        // padding: 5px;
        // outline: solid;
      }
      .mainDesc{
        list-style-type:none;
        padding: 0px;
        font-size: 90%;
      }
      .portfolio-links{
        border: solid; 
        border-width: .5px;
        width: fit-content; 
        margin: auto;
        color: #007EE5;
        
        &:hover{
          color: white;
        }
      }
 

  }
}
// .main-nav{
//   background-color: grey;
// }

//! ----------------FOOTER--------------------------
.footer{
  //! THIS MIGHT BE THE PADDING PROBLEM 
  // @include flex-center;
  // @include nopadmarg;
  background-color: $gridColor;
  padding: 10px;
}

//! ----------------CAROUSEL--------------------------
.testimonials{
  // background-color: #019457;
  margin: 0;
  h1{
    @include nopadmarg
  }
  li{
    background-color: red;
    border-radius: 50%;
  }

  .carousel-container{
    div{
      // @include carouselMarginTB
    }
    h5{
      margin: 0px;
    }
    p{
      font-size: 100px;
      margin: 0px;
    }
  }
  .carousel-indicators{
    font-style: normal;
    position: absolute;
    bottom: -2%;
    margin: 0px;
    padding: 10px;
    button{
      background-color: $logoColor;
      width: 10px;
      height: 10px;
      border-width: .5px;
      border-radius: 100%;
      transition: .5s ease-in-out;
    }
    button.active{
      transition: .5s ease-in-out;
      width: 30px;
      height: 10px;
      border-radius: 10px;
    }
  }
  .carousel-control-next-icon{
    display: none;
  }
  .carousel-control-prev-icon{
    display: none;
  }
  .quotes-icon{
    color: $logoColor;
  }
  .carousel-name{
    color: $boldTextColor;
  }
}

// ! -------------TEXT-------------
.button-text {
  // width: 10%;
  @include nopadmarg;
}
