@import 'mixin';
@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

$fonts: 'Roboto','Segoe UI';
$primary-color: #1c2431;
$mainColor: #30d48f;
$spacing: 2rem;
$bold: bold;
$extraBold: 700;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvettica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Bootstrap grid
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

//! XS SIZE
@media (min-width:map-get($breakpoints,xs)){
  .img-me {
    width: 70%;
    height: auto;
    background-color: #53feb7;
  }
  .experience-rows{
    // background-color: rgb(255, 19, 19);
    font-size: 15px;
  }
  .img-skills{
    // background-color: rgb(255, 182, 182);
    width: 30%;
    height: auto;
  }
  .imgexp{
    position:absolute;
    top: 0%;
    left: -15%;
    width: 35%;
    z-index:1;
    filter: drop-shadow(2mm 3mm 3mm rgb(0, 0, 0, .5));
  };  
  

}


@media (min-width: map-get($breakpoints, lg)){
  .img-me {
    width: 50%;
    height: auto;
    background-color: #5353fe;

  }
  
}
.icon{
  // background-color: rgb(255, 255, 255);
  // width: 100px;
}

//! MD SIZE
@media (min-width: map-get($breakpoints, md)){

  .experience-rows{
    background-color: rgb(198, 182, 255);
    font-size: 25px;
  }
  .img-skills{
    // background-color: rgb(198, 182, 255);
    width: 20%;
    height: auto;
  }
  .imgexp{
    position:absolute;
    top: 3%;
    left: -10%;
    width: 20%;
    z-index: 1;
    filter: drop-shadow(2mm 3mm 3mm rgb(0, 0, 0, .5));
  };

}
//!  ---------------------- hamburger ---------------------
.div-burger{
  &-icon{
    @include flex-center;
    position: relative;
    z-index: 1000;
  }
}
.div-burger-inside{
  // @include flex-center;
  position: fixed;
  top: 0%;
  right: 10%;
  background-color: blue
}

.hamburgerListDown{
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  top: 0%;
  bottom: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: blur-in 1.5s forwards;
  li{
    list-style-type: none;
    padding: 20px;
  }
}
@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(5px);
  }
}
//!  ---------------------- hamburger ---------------------


// * LINES COLOR
hr,.vr{
  color: #131317;
}


// * LINES COLOR
.progressBar{
  background-color: transparent;
}

body{
  background: #1f2028;
  color: white;
  font-family: $font-family-sans-serif; 
}
body > :not(strong, .footer,.progressBar){
  padding: 10px;
}
a{
  color: white;
  text-decoration: none;
  @include transition;

  &:hover{
    color: $mainColor;
    background-size: 100% .12em;
    @include transition;
  }
}

a:focus {
  text-decoration: underline;
  color: $mainColor;
  @include transition;
}

// -------------------------------------------------------

.navbar-main {

  @include flex-center;
  font-family: $fonts;
  font-weight: $bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1;

}
  
  .lg-container{
  margin: 0;
  padding: 0;
  // @include transition;

  &:hover{
    opacity: .5;
    @include transition;
  }
  }

  ul{
    margin: 0;
    padding-left: 0;
    padding: 10px;
  }
  .icon-container{
    display: flex;
    margin-left: 80px;

  }
  .icon{
    @include transition;
    
    &:hover{
      opacity: 50%;
      @include transition;
    }
  }


//! ---------------------------------------
.about-me{
  color: white;

  .icon-arrow{
    height: 50px;

    &:hover{
      opacity: 50%;
    }
  }

  &-one{
    @include flex-center;
    // background-color: rgb(168, 115, 10);
    font-weight: $extraBold;
    line-height: 1.5;

    &-desc{

      &-selftaught{
        // background-color: rgb(161, 0, 0);
        display: inline-block;
      }

      p{
        // font-size: 50px;
        &:first-child{
          // background-color: black;
        }
      }

    }
  }
  &-section{
    text-align: center;

    &-body{
      // background-color: white
      
    };

    .Col{
      border-radius: 30px;
      margin: 5px;
      padding: 40px;
      background-color: #2E3039;
      position: relative;
    };
    
 

    section{
     @include nopadmarg;
    }

    h1{
      text-align: center;
      font-weight: $extraBold;
      
    };

    h2{
      font-weight: $bold;
    };

    li{
      // list-style-position: inside;
      text-decoration: none;
      color: #a9adc1;
    };
    // p{
    //   color: #a9adc1;
    //   font-size: 30px;
    //   font-weight: 300;
    // }
  }
  // .imgexp{
  //   position:absolute;
  //   top: 3%;
  //   left: -30%;
  //   width: 50%;
  //   z-index: 10;
  //   filter: drop-shadow(2mm 3mm 3mm rgb(0, 0, 0, .5));
  // };
}

//! -------------------------------------------------------

.footer{
  //! THIS MIGHT BE THE PADDING PROBLEM 
  // @include flex-center;
  // @include nopadmarg;
  background-color: black;
  padding: 10px;
}

// ! skill here
.skills{

 
  background-color: #2E3039;
  @include nopadmarg;
  border-radius: 20px;
  overflow: hidden;
  &-row{
    @include nopadmarg;
  }

  &-dev-col{
    color: white;
    background-color: rgba(59, 12, 57, 0.5);
  }

  .skills-col{
    padding: 15px;


    &-1{
      @include paddingTopBottom;
      font-weight: $extraBold;
      font-size: 35px;
      
      // background-color: rgb(255, 117, 117);
      &-desc{
        // background-color: rgb(160, 97, 255);
      }
    }
    &-2{  
      @include paddingTopBottom;
      // background-color: green;
      }
  
    &-3{
      @include paddingTopBottom;
      // background-color: rgb(255, 0, 30);
    }
  }
}
