@import 'mixin';
@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

$fonts: 'Roboto','Segoe UI';
$body-color: #1c2824;
$logoColor: #95d5b2;
$boldTextColor: #52b788;
$gridColor: #081c15;
$navBarColor: #013e37;
$spacing: 2rem;
$bold: bold;
$extraBold: 700;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvettica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Bootstrap grid
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

body.light-mode{
  background-color: #cae3db;
  color: black;
  @include transition;
  .navbar-main-closed{
    background-color: #009785;
  }
  .popUp-label{
    color: black;
    background-color: #009785;
  }
  .svg:hover{
    fill: #016156;
  }
  hr,.vr{
    color: #000000;
  }
  .skills-title-do{
    color: #007567;
  }
  .skills-title{
    color: #007567;
  }
  .navbar-tab{
    background-color: #007567;
  }
  .selected{
    color: white;
  }
  .non-selected{
    color: rgb(255, 255, 255);
  }
  .carousel-name{
    color: #007567;
  }
  .carousel-indicators{
    button{
      background-color: #007567;
    }
  }
  .footer{
    background-color: #007567;
  }

}
body.dark-mode{
  background: $body-color;
  color: white;
}

body{
  background: $body-color;
  color: white;
  font-family: $font-family-sans-serif; 
}
body > :not(strong, .footer,.progressBar,.navbar-main){
  padding: 20px;
}
a{
  color: $logoColor;
  @include transition;
  font-weight: normal;
  text-decoration: none;
}
// Conflict with carousel fonts
.active {
  font-weight: bold;
  text-decoration: none;
}


//! XS SIZE
@media (min-width:map-get($breakpoints,xs)){
  .img-me {
    width: 40%;
    height: auto;
    background-color: #53feb7;
  }
  .experience-rows{
    font-size: 15px;
  }
  .icon-skills{
    width: 20%;
    height: auto;
  }

  .img-carousel{
    width: 30%;
  }
  
.experiences{
  height: 18rem;
}
.testimonials{
  height: 25rem;
}
}

//! MD SIZE
@media (min-width: map-get($breakpoints, md)){
  .img-me {
    width: 40%;
    height: auto;

  }
  .experience-rows{
    font-size: 25px;
  }
  .icon-skills{
    width: 14%;
    height: auto;
  }
  .img-carousel{
    width: 10%;
  }

}
//!  ---------------------- HAMBURGER ---------------------
.div-burger{
  &-icon{
    @include flex-center;
    position: relative;
    z-index: 1000;
  }
  .div-burger-inside{
    position: fixed;
    top: 0%;
    right: 10%;
  }
  
  .hamburgerListDown{
    position: fixed;
    background:$body-color;
    top: auto;
    bottom: -55px;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
    animation: blur-in 1.5s forwards;
    ul{
      padding: 0;
    }
    li{
      list-style-type: none;
      padding: 20px;
    }
    .hamburger-center{
      border-bottom: solid;
      border-width: .5px;
      border-width: 20%;
      border-color: #616161;
      padding: 10%;
      font-weight: $bold;
      font-size: 2rem;
    }
  }
  @keyframes blur-in {
    from {
      -webkit-backdrop-filter: blur(0px);
    }
    to {
      -webkit-backdrop-filter: blur(5px);
    }
  }
}

//!  ---------------------- LINES ---------------------
// * LINES COLOR
hr,.vr{
  color: #787878;
}
//! ----------------------NAVBAR---------------------------------

.navbar-main {
  @include navSticky;
  .lg-container{
    &:hover{
      opacity: .5;
      @include transition;
    }
  }

  &-closed {
    @include navSticky;


    border-radius: 0px 0px 10px 10px;
    background-color: $navBarColor;
    -webkit-box-shadow: 0px 18px 32px -22px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 18px 32px -22px rgba(0,0,0,0.32);
    box-shadow: 0px 18px 32px -22px rgba(0,0,0,0.32);
    .lg-container{
      &:hover{
        opacity: .5;
        @include transition;
      }
    }
  }
  
  &-open{
  @include navSticky;

    border-radius: 0px 0px 0px 0px;
    // background-color: $navBarColor;
    // border-style: solid;
  }
}

 



//! --------------------ABOUT ME-------------------
.about-me{
.titleIndex{
  color: $logoColor;
}
  &-one{
    // @include flex-center;
    // background-color: rgb(168, 115, 10);
    font-weight: $extraBold;
    line-height: 1.5;

    &-desc{

      &-selftaught{
        // background-color: rgb(161, 0, 0);
        display: inline-block;
      }

      p{
        // font-size: 50px;
        &:first-child{
          // background-color: black;
        }
      }

    }
  }
  &-section{
    text-align: center;

    &-body{
      // background-color: white
      
    };

    .Col{
      border-radius: 30px;
      margin: 5px;
      padding: 40px;
      background-color: #2E3039;
      position: relative;
    };
    
 

    section{
     @include nopadmarg;
    }

    h1{
      text-align: center;
      font-weight: $extraBold;
      
    };

    h2{
      font-weight: $bold;
    };

    li{
      text-decoration: none;
      color: #a9adc1;
    };
  }

}

//! -------------------SKILLS--------------------------------

.skills{

 
  // background-color: #2E3039;
  @include nopadmarg;
  border-radius: 20px;
  overflow: hidden;
  &-row{
    @include nopadmarg;
  }

  &-dev-col{
    color: white;
    background-color: rgba(59, 12, 57, 0.5);
  }

  .skills-col{
    padding: 10px;


    &-1{
      @include paddingTopBottom;

      &-desc{
        // background-color: rgb(160, 97, 255);
      }
    }
    &-2{  
      @include paddingTopBottom;
      // background-color: green;
      }
  
    &-3{
      @include paddingTopBottom;
      // background-color: rgb(255, 0, 30);
    }
  }
  .skills-title-do{
    color: $boldTextColor;
  }
  .skills-ul{
    li{
      padding: 2px;
    }
    li:hover{
      background-color: $logoColor;
    }
  }
}
// * HOVER ICON 
.svg:hover{
  fill: rgb(255, 255, 255);
  transition: .1s ease-in-out;
}
.icons-map{
  &-div{
    position: relative;
  }
  .popUp-label{
    background-color: rgb(0, 0, 0);
    padding: 2px;
    width: 350%;
    border-radius: 10px;
    overflow:hidden;
    position: absolute;
    top: -80%;
    left: -130%;
    right: 0%;
    font-size: 75%;
    font-weight: $bold;
    white-space: nowrap;
    z-index: 10;
  }
}
//! -------------------EXPERIENCES--------------------------------

.experiences{
  //* TAB NAVBAR CONTENT
  &-tab{
    cursor: pointer;

    //* TAB MAIN CONTENT
    .tab-content{
      padding: 10px;

    }
    .navbar-tab{
      background-color: $gridColor;
      border-radius: 10px;
      .underline{
        position: absolute;
        bottom: -4px;
        left: 25%;
        right: 0%;
        height: 3px;
        width: 50%;
        background: $logoColor;
        border-radius: 10px 10px 0px 0px;
        z-index: 10;
      }
    }
      .selected{
        // background-color: $logoColor;
        position: relative;
        border-radius: 5px;
        font-weight: $bold;
        // padding: 10px;
      }
      .non-selected{
        color: gray;
        font-weight: lighter;

        &:hover{
          background-color:  $logoColor;
          border-radius: 10px;
        }
      }
      .selected, .non-selected{
        @include transition;
      }
      .mainDesc{
        list-style-type:none;
        padding: 0px;
        font-size: 90%;
      }
      .portfolio-links{
        border: solid; 
        border-width: .5px;
        width: fit-content; 
        margin: auto;
        color: #007EE5;
        
        &:hover{
          color: white;
        }
      }
  }
}


//! ----------------FOOTER--------------------------
.footer{
  background-color: $gridColor;
  border-radius: 10px 10px 0 0;
  &-name{
    font-weight: bold;
  }
}

//! ----------------CAROUSEL--------------------------
.testimonials{
  margin: 0;
  h1{
    @include nopadmarg
  }
  li{
    background-color: red;
    border-radius: 50%;
  }

  .carousel-container{
    div{
      // @include carouselMarginTB
    }
    h5{
      margin: 0px;
    }
    p{
      font-size: 100px;
      margin: 0px;
    }
  }
  .carousel-indicators{
    font-style: normal;
    position: absolute;
    bottom: -1%;
    margin: 0px;
    padding: 10px;
    button{
      background-color: $logoColor;
      width: 10px;
      height: 10px;
      border-width: .5px;
      border-radius: 100%;
      transition: .5s ease-in-out;
    }
    button.active{
      transition: .5s ease-in-out;
      width: 30px;
      height: 10px;
      border-radius: 10px;
    }
  }
  .carousel-control-next-icon{
    display: none;
  }
  .carousel-control-prev-icon{
    display: none;
  }
  .quotes-icon, .paper-icon{
    // color: $logoColor;
  }
  .carousel-name{
    color: $boldTextColor;
  }
}

// ! -------------TEXT-------------
.button-text {
  // width: 10%;
  @include nopadmarg;
}
