@import 'mixin';
@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';

$fonts: 'Arial';
$primary-color: #1c2431;
$mainColor: #30d48f;
$spacing: 2rem;
$bold: bold;

body{
  background: #1f2028;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: $fonts; 
  height: 100rem;
  padding-left: 10%;
  padding-right: 10%;
}
a{
  color: white;
  text-decoration: none;
  @include transition;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;

  &:hover{
    color: $mainColor;
    background-size: 100% .12em;
    @include transition;
  }
}

a:focus {
  text-decoration: underline;
  color: $mainColor;
  @include transition;
}


.navbar-main {

  @include flex-center;
  font-family: $fonts;
  font-weight: $bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 10;

}
  
  .lg-container{
  margin: 0;
  padding: 0;
  }

  ul{
    margin: 0;
    padding-left: 0;
    padding: 10px;
  }
  .icon-container{
    display: flex;
    margin-left: 80px;

  }
  .icon{
    @include transition;
    
    &:hover{
      opacity: 50%;
      @include transition;
    }
  }


// ---------------------------------------
.about-me{
  color: white;
  margin-top: 50px;
  img{
    width: 400px;
    float: right;
  }
  .about-me-Description{

    ul{
      font-size: 50px;
      padding-top: 80px;
      text-align: left;
    }
  }
}

// -------------------------------------------------------

.contact-main, .about-me{
  transition: opacity 1s ease-in-out;
  opacity: 0;
} 

.contact-main.visible, .about-me.visible {  
  opacity: 1;
}
.about-me-Description.none{
  transition: opacity 1s ease-in-out;

 font-size: 0px;
}
.about-me-Description.visible{
  transition: opacity 1s ease-in-out;
  font-size: 100px;


}
