@import 'mixin';
@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';

$fonts: 'Arial';
$primary-color: #1c2431;
$mainColor: #30d48f;
$spacing: 2rem;
$bold: bold;
$extraBold: 700;

body{
  background: #1f2028;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: $fonts; 
  height: 100rem;
  padding-left: 10%;
  padding-right: 10%;
}
a{
  color: white;
  text-decoration: none;
  @include transition;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;

  &:hover{
    color: $mainColor;
    background-size: 100% .12em;
    @include transition;
  }
}

a:focus {
  text-decoration: underline;
  color: $mainColor;
  @include transition;
}

// -------------------------------------------------------

.navbar-main {

  @include flex-center;
  font-family: $fonts;
  font-weight: $bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 10;

}
  
  .lg-container{
  margin: 0;
  padding: 0;
  }

  ul{
    margin: 0;
    padding-left: 0;
    padding: 10px;
  }
  .icon-container{
    display: flex;
    margin-left: 80px;

  }
  .icon{
    @include transition;
    
    &:hover{
      opacity: 50%;
      @include transition;
    }
  }


// ---------------------------------------
.about-me{
  color: white;

.about-me-one{
    @include flex-center;
    background-color: purple;
    font-weight: $extraBold;
    line-height: 1.5;

    .about-me-Description{
      text-align: left;
      p{
        font-size: 50px;
        &:first-child{
          // background-color: black;
        }
      }
    }

  }
.section-container{
    float: right;
    text-align: right;
    background-color: rgb(162, 162, 162, 0.5);
    h1{
      font-weight: $extraBold;
    }
    h2{
      font-weight: $bold;
    }
    li{
      list-style-position: inside
    };
  }

}
// -------------------------------------------------------


